<div [@routerTransition]>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-money'" [count]="26" [label]="'New Challans!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-upload'" [count]="12" [label]="'Pending Uploads!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-bus'" [count]="124" [label]="'Discrepant Vehicles!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-truck'" [count]="13" [label]="'Blacklisted Vehicles!'"></app-stat>
        </div>
    </div>
    <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr />
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            Dashboard under maintenance
        </div>
    </div>
</div>
